<section class="topMargin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">listes des produits</h2>
                <h3 class="text-muted section-subheading">Gérez les produits : vous pouvez les modifier, les supprimer, <a class="addLink" href="/products/create">en ajouter</a>.</h3>
            </div>
        </div>
        {{#if errors}}
            <div class="alert {{errors.alert}}">
                {{errors.msg}}
            </div>
        {{/if}}
        <div class="row text-center">
            
                {{#each products}}
                    <div class="col-md-4 card_products">
                        {{#each this}}
                            <div class="cardList card">
                                <div class="card-body">
                                    <h4 class="card-title">{{this.name_product}}</h4>
                                    <h3 class="text-muted sub_cat">Catégorie : {{this.name_categorie}}</h3>
                                    <a class="card-link"href="/products/update/{{this.id_product}}">Modifier</a><a class="card-link delBut" onclick="changeUrl({{this.id_product}})" data-toggle="modal" data-target="#DelProdModal">Supprimer</a>
                                </div>
                                
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="DelProdModal" tabindex="-1" role="dialog" aria-labelledby="DelProdModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DelProdModal">Attention</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Cette action est irréversible. Voulez-vous vraiment supprimer ce produit ?
                </div>
                <div class="modal-footer">
                    <form id="deleteForm" method="post" action="">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <input type="hidden" name="_method" value="DELETE">
                        <button id="deleteProd" name="delete" value="delete" type="submit" class="btn btn-danger">Supprimer</button>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function changeUrl(id){
        $("form#deleteForm").attr("action","/products/delete/"+id+"?_method=DELETE");
    }
</script>

{{!-- <section>
    <div class="container">
        <div class="row align-items-center"></div>
        <div class="row align-items-center">
            <div class="p-5">
                <h3 class="display-4">Liste des produits</h3>
                <p>Gérer les produits : modifier, ajouter ou supprimer.</p>
                <a href="/products/create">Ajouter un produit</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        {{#if errors}}
            <div class="alert {{errors.alert}}">
                {{errors.msg}}
            </div>
        {{/if}}
        <div class="row align-items-center">
            <div class="col" style="width:50%">
                <ul class="list-group">
                    {{#each products}}
                        {{#each this}}
                            <li class="list-group-item"><span>{{this.name_product}}</span><div>
                                <a href="/products/update/{{this.id_product}}">Modifier</a><a type="button" onclick="changeUrl({{this.id_product}})" data-toggle="modal" data-target="#DelProdModal">Supprimer</a>
                            </div></li>
                        {{/each}}
                    {{/each}}
                </ul>
              
                <!-- Modal -->
                    <div class="modal fade" id="DelProdModal" tabindex="-1" role="dialog" aria-labelledby="DelProdModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DelProdModal">Attention</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Cette action est irréversible. Voulez-vous vraiment supprimer cette produit ?
                                </div>
                                <div class="modal-footer">
                                    <form id="deleteForm" method="post" action="">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button id="deleteProd" name="delete" value="delete" type="submit" class="btn btn-danger">Supprimer</button>
                                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</section>
<script>
    function changeUrl(id){
        let url="/products/delete/"+id+"?_method=DELETE"
        $("form#deleteForm").attr("action",url);
    }
</script> --}}
