<div class="custom_form">
    <div class="form-container">
        <form class ="upForm" action='/products/update/{{id}}?_method=PUT' method="post">
            <h2 class="title_form text-center">Modifier le produit.</h2>
            {{#if errors}}
                <div class="alert {{errors.alert}}">
                    {{errors.msg}}
                </div>
            {{/if}}
            <div class="row">
                <div class="col">
                    <div class="form-group"><input type="text" class="form-control" name="name_product" value="{{name}}" /></div>
                
                    <h5 id="changeCat" class="text-center">Changer de catégorie (facultatif)</h5>
                    <div class="form-group">
                        <input type="hidden" id='id_cat_prod' name="id_cat_prod" value="{{id_cat}}">
                        <select name ="cat_product" class="form-control">
                            {{#each categories as | cat |}}
                                <option value="{{cat.id_categorie}}">{{cat.name_categorie}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Modifier</button></div>
            
            <div class="d-flex">
                <div class="mr-auto p-2"></div>
                <div class="p-2 form-group"><button class="btn btn-danger btn-block" type="button" data-toggle="modal" data-target="#exampleModal">Supprimer ce produit</button></div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Cette action est irréversible. Voulez-vous vraiment supprimer ce produit ?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" action="/products/delete/{{id}}?_method=DELETE">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input type="hidden" name="_method" value="DELETE">
                    <button id="deleteAccount" name="delete" value="delete" type="submit" class="btn btn-danger">Supprimer</button>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    let id_cat = $('#id_cat_prod')[0].value;
    let options = $('select.form-control option');

    options.each(function(){
    if ($(this).val() == id_cat)
        $(this).attr("selected","selected");
    });

</script>
