<section class="topMargin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Modifiez votre liste personnalisée</h2>
                <h3 class="text-muted section-subheading">Veuillez choisir des types de produits dans le bandeau de recherche, puis cliquez sur valider. Si le produit se trouve déjà dans le bandeau de gauche, alors cliquez sur le + pour l'ajouter. Si vous désirez supprimer un produit de votre liste, veuillez cliquer sur la croix.</h3>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                    <input class="myAutocomplete" id="tags">
                    <button class="btn btn-primary" onclick="addFromAutocomplete()"type="button">Ajouter</button>
                    <input type="hidden" id="tagsID">
                    <div class="msg"></div>
                
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sélection de vos derniers produits</h4>
                        <h6 class="text-muted card-subtitle mb-2">Ces produits sont ceux que vous avez choisis plusieurs fois durant les 3 derniers mois</h6>
                        <ul class="list-group">
                            {{#each old_prod as | prod |}}
                                <li id="{{prod.id_product}}"class="old_prod list-group-item"><span id="tags2">{{prod.name_product}}</span>
                                <input type="hidden" id="tagsID2" id_prod="{{prod.id_product}}">
                                <div onclick='addProduct("{{prod.name_product}}",{{prod.id_product}})'><i class="icon-list fa fa-plus"></i></div></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Votre liste</h5>
                <form action="/lists/update/{{id_list}}?_method=PUT" method="POST">
                    <ul class="prodlist list-group">
                        {{#each up_prod as | up |}}
                            <li id_prod='{{up.id_product}}'class='list-group-item'>
                                <span>{{up.name_product}}</span>
                                <div class='row align-items-center price_prod' class='position: absolute;'>
                                    <input class='price_prod' name='prices' type='number' step='0.01' min='0' value="{{up.price_product}}" required/>
                                    <div id='cross"+id_p+"'><p>€</p></div><i onclick='removeProduct({{up.id_product}})' class='icon-list fa fa-times'></i>
                                </div>
                                <input type='hidden' name='ids' value='{{up.id_product}}'>
                            </li>
                        {{/each}}
                    </ul>

                    <div class="total-price"><p>Total : </p><p id="total">{{total}}</p><p>€</p></div>

                    <button class="btn btn-primary subList" type="submit">Sauvegarder</button>
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    const total =0;
    $(document).ready(function(){
        $.ajax({
            type: 'post',
            url: '/products/all',
            data: { _csrf: $("input[name='_csrf']").val()},
            dataType: 'json'
        })
        .done(function(data){
            let prodTags = data.map(func)
            $(".myAutocomplete").autocomplete({
                source: prodTags,
                select: function (event, ui) {
                    $("#tags").val(ui.item.label); // display the selected text
                    $("#tagsID").attr("id_prod",ui.item.id); // save selected id to hidden input
                }
            });
        })
        .fail(function(XMLHttpRequest, textStatus, errorThrown) { 
        console.log("Status: " + textStatus); console.error("Error: " + errorThrown);
        }) 

        $(".price_prod").bind('keyup mouseup', function () {
            updatePrice();            
        });
    })
    function func (x){
        return {
            label: x.name_product, 
            id: x.id_product
        }
    }

    function addFromAutocomplete(){
        const name_p = $('#tags').val();
        const id_p = $('#tagsID').attr("id_prod");
        addProduct(name_p,id_p)
        
    }

    $(".price_prod").bind('keyup mouseup', function () {
            updatePrice();            
        });
        
    function addProduct(name_p,id_p){
        if(name_p != undefined && id_p != undefined){
            let alreadyIn = false;
            $('.prodlist li').each(function() {
                if($( this ).attr("id_prod")==id_p){
                    alreadyIn = true;
                }      
            })
            if(!alreadyIn){
                $( ".msg div" ).remove();
                let html ="<li id_prod='"+id_p+"'class='list-group-item'><span>"+name_p+"</span><div class='row align-items-center price_prod' class='position: absolute;'><input class='price_prod' name='prices' type='number' step='0.01' min='0' required/><div id='cross"+id_p+"'><p>€</p></div><i onclick='removeProduct("+id_p+")' class='icon-list fa fa-times'></i></div><input type='hidden' name='ids' value='"+id_p+"'></li>"
                $(html).appendTo( ".prodlist" );
                $('#tags').val('');
            } else {
                $( ".msg div" ).remove();
                let html = "<div class='alert alert-warning'>Ce produit est déjà présent dans votre liste</div>"
                $('#tags').val('');
                $(html).appendTo( ".msg" );
            }
            
            $(".price_prod").bind('keyup mouseup', function () {
                updatePrice();            
            });
        }
    }

   function updatePrice(){
        let total = 0;
        $('input.price_prod').each(function(){
            if(!$(this).val()==""){
                total += parseFloat($(this).val());
            }
        })
        total = Math.round(100*total)/100;
        $("#total").text(total)
    }

    function removeProduct(id){
        $("ul.prodlist li[id_prod="+id+"]").remove();
        updatePrice();
    }
</script>