<div class="register-photo">
    <div class="form-container">
        <form action='/users/{{id}}' method="post">
            <h2 class="text-center">Informations sur le profil.</h2>

            {{#if errors}}
                <div class="alert {{errors.alert}}">
                    {{errors.msg}}
                </div>
            {{/if}}

            <h6 class="text-muted card-subtitle mb-2">Nom :</h6>
            <p>{{lastname}}</p>
            <h6 class="text-muted card-subtitle mb-2">Prénom :</h6>
            <p>{{firstname}}</p>
            <h6 class="text-muted card-subtitle mb-2">Email :</h6>
            <p>{{email}}</p><small><br />Si vous souhaitez modifier les droits de cet utilisateur :<br /></small>
            {{#if isAdmin}}
                <input type="checkbox" name="admin" value="1" class="form-check-input" id="formCheck-1" checked/>
            {{else}}
                <input type="checkbox" name="admin" value="1" class="form-check-input" id="formCheck-1" />
            {{/if}}

            <label class="form-check-label" for="formCheck-1">Administrateur</label>

            <input type="hidden" name="_method" value="PUT">
            <div class="form-group"><button name="update" value="update" class="btn btn-primary btn-block" type="submit">Modifier les droits</button></div>

            <div class="d-flex">
                <div class="mr-auto p-2"></div>
                <div class="p-2 form-group"><button class="btn btn-danger btn-block" type="button" data-toggle="modal" data-target="#exampleModal">Supprimer ce compte</button></div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Cette action est irréversible. Voulez-vous vraiment supprimer ce compte ?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" action="/users/delete/{{id}}?_method=DELETE">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input type="hidden" name="_method" value="DELETE">
                    <button id="deleteAccount" name="delete" value="delete" type="submit" class="btn btn-danger">Supprimer</button>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                </form>
            </div>
        </div>
    </div>
</div>